[Unit]
Description=addnetwork
[Service]
Type=simple
Restart=always
WorkingDirectory=/opt/mistnet/etc/addnetwork/
ExecStart=/usr/bin/python addnetwork.py addnetwork.json
[Install]
WantedBy=multi-user.target
